<template>
  <DefaultLayout>
    <x-contact-form />
  </DefaultLayout>
</template>

<script>
import XContactForm from "@/components/XContactForm.vue";
export default {
  components: { XContactForm }
};
</script>

<style>
</style>