<template>
  <DefaultLayout>
    <section class="section">
      <div class="markdown-body">
        <div v-html="$page.post.content" />
      </div>
    </section>

    <x-contact-form />

    <section class="section">
      <div class="x-credits has-text-centered">
        Icons made by
        <a
          href="https://www.flaticon.com/authors/becris"
          title="Becris"
          class="x-credits"
        >Becris</a> and
        <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </div>
    </section>
  </DefaultLayout>
</template>

<page-query>
query Post  {
  post: post (path: "/content/team/") {
    title
    content
    
  }
}
</page-query>


<script>
import XContactForm from "@/components/XContactForm.vue";
export default {
  components: { XContactForm },
  metaInfo: {
    title: "10xTeste",
    meta: [
      {
        property: "og:title",
        content: "Împreună putem face de 10x mai multe teste COVID-19"
      },
      {
        property: "og:description",
        content:
          "O metodă de creștere masivă a numărului de teste COVID-19 în România"
      },
      {
        property: "og:image",
        content: "https://10xteste.ro/poster10xteste.jpeg"
      },
      { property: "og:url", content: "http://10xteste.ro" },
      { name: "twitter:card", content: "summary_large_image" },
      {
        property: "og:image:alt",
        content: "Împreună putem face de 10x mai multe teste COVID-19"
      }
    ]
  },
  data: function() {
    return { analytics: [] };
  },
  mounted() {
    if (!!process.env.GRIDSOME_ANALYTICS) {
      var analytics = (window.analytics = window.analytics || []);
      if (!analytics.initialize)
        if (analytics.invoked)
          window.console &&
            console.error &&
            console.error("Segment snippet included twice.");
        else {
          analytics.invoked = !0;
          analytics.methods = [
            "trackSubmit",
            "trackClick",
            "trackLink",
            "trackForm",
            "pageview",
            "identify",
            "reset",
            "group",
            "track",
            "ready",
            "alias",
            "debug",
            "page",
            "once",
            "off",
            "on"
          ];
          analytics.factory = function(t) {
            return function() {
              var e = Array.prototype.slice.call(arguments);
              e.unshift(t);
              analytics.push(e);
              return analytics;
            };
          };
          for (var t = 0; t < analytics.methods.length; t++) {
            var e = analytics.methods[t];
            analytics[e] = analytics.factory(e);
          }
          analytics.load = function(t, e) {
            var n = document.createElement("script");
            n.type = "text/javascript";
            n.async = !0;
            n.src =
              "https://cdn.segment.com/analytics.js/v1/" +
              t +
              "/analytics.min.js";
            var a = document.getElementsByTagName("script")[0];
            a.parentNode.insertBefore(n, a);
            analytics._loadOptions = e;
          };
          analytics.SNIPPET_VERSION = "4.1.0";
          analytics.load("hAZcHis8NxLkhmn2uq34yMQQF63Xxv6O");
          analytics.page();
        }
    }
  }
};
</script>


<style>
@import url("https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css");
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

ul {
  list-style: disc;
}
.x-credits a {
  color: gray;
}
</style>
