<template>
  <div class="container">
    <x-navbar />
    <section class="section">
      <div class="x-log-chart">
        <x-log-chart :chartdata="totalCasesChartData" :options="options"></x-log-chart>
      </div>

      <div class="x-chart">
        <x-chart :chartdata="newCasesChartData" :options="options"></x-chart>
      </div>

      <div class="x-chart">
        <x-chart :chartdata="activeCasesChartData" :options="options"></x-chart>
      </div>

      <div class="x-chart">
        <x-chart :chartdata="totalRecoveredChartData" :options="options"></x-chart>
      </div>
      <div class="x-chart">
        <x-chart :chartdata="newRecoveredChartData" :options="options"></x-chart>
      </div>
      <div class="x-chart">
        <x-chart :chartdata="newTestsChartData" :options="options"></x-chart>
      </div>
      <!-- <div class="x-chart">
        <x-chart :chartdata="dailyFinesChartData" :options="options"></x-chart>
      </div>-->
      <div class="x-chart">
        <x-chart :chartdata="isolationChartData" :options="options"></x-chart>
      </div>
      <div class="x-chart">
        <x-chart :chartdata="quarantineChartData" :options="options"></x-chart>
      </div>

      <div class="x-chart">
        <x-chart :chartdata="atiChartData" :options="options"></x-chart>
      </div>
      <div class="x-chart">
        <x-chart :chartdata="newDeathsChartData" :options="options"></x-chart>
      </div>
      <div class="x-chart">
        <x-chart :chartdata="deathsTotalChartData" :options="options"></x-chart>
      </div>
      <div class="x-chart">
        <x-chart :chartdata="circulationViolationsTodayChartData" :options="options"></x-chart>
      </div>
    </section>
  </div>
</template>

<script>
import XChart from "@/components/XChart.vue";
import XLogChart from "@/components/XLogChart.vue";
import XNavbar from "@/components/XNavbar.vue";
import stats from "../../data/stats.json";

export default {
  components: { XChart, XLogChart, XNavbar },
  data: function() {
    return {
      // stats: stats.,
      newTestsChartData: {
        labels: Object.values(stats).map(record => record.today),
        datasets: [
          {
            label: "Teste noi",
            backgroundColor: "#f87979",
            data: Object.values(stats).map((record, index, all) => {
              return (
                parseInt(record.totalTests) -
                parseInt(index > 0 ? all[index - 1].totalTests : 0)
              );
            })
          }
        ]
      },

      newCasesChartData: {
        labels: Object.values(stats).map(record => record.today),
        datasets: [
          {
            label: "Cazuri noi",
            backgroundColor: "#6c5bff",
            data: Object.values(stats).map(record => record.newCases)
          }
        ]
      },

      activeCasesChartData: {
        labels: Object.values(stats).map(record => record.today),
        datasets: [
          {
            label: "Cazuri active",
            backgroundColor: "#f87979",
            data: Object.values(stats).map((record, index, all) => {
              return (
                parseInt(record.totalCases) -
                (parseInt(index > 0 ? all[index - 1].recoveredTotalCases : 0) ||
                  0) -
                (parseInt(index > 0 ? all[index - 1].deathsTotal : 0) || 0)
              );
            })
          }
        ]
      },

      totalRecoveredChartData: {
        labels: Object.values(stats).map(record => record.today),
        datasets: [
          {
            label: "Total vindecări",
            backgroundColor: "#6c5bff",
            data: Object.values(stats).map(record => record.recoveredTotalCases)
          }
        ]
      },

      newRecoveredChartData: {
        labels: Object.values(stats).map(record => record.today),
        datasets: [
          {
            label: "Vindecări pe zile",
            backgroundColor: "#f87979",
            data: Object.values(stats).map((record, index, all) => {
              return (
                parseInt(record.recoveredTotalCases) -
                parseInt(index > 0 ? all[index - 1].recoveredTotalCases : 0)
              );
            })
          }
        ]
      },

      totalCasesChartData: {
        labels: Object.values(stats).map(record => record.today),
        datasets: [
          {
            label: "Total cazuri (logaritmic)",
            backgroundColor: "#f87979",
            data: Object.values(stats).map(record => record.totalCases)
          }
        ]
      },

      quarantineChartData: {
        labels: Object.values(stats).map(dayRecord => dayRecord.today),
        datasets: [
          {
            label: "Persoane în carantină",
            backgroundColor: "#6c5bff",
            data: Object.values(stats).map(dayRecord => dayRecord.quarantineNow)
          }
        ]
      },
      isolationChartData: {
        labels: Object.values(stats).map(dayRecord => dayRecord.today),
        datasets: [
          {
            label: "Persoane în autoizolare",
            backgroundColor: "#6c5bff",
            data: Object.values(stats).map(
              dayRecord => dayRecord.selfIsolationNow
            )
          }
        ]
      },
      atiChartData: {
        labels: Object.values(stats).map(dayRecord => dayRecord.today),
        datasets: [
          {
            label: "Pacienți ATI",
            backgroundColor: "#6c5bff",
            data: Object.values(stats).map(dayRecord => dayRecord.atiCasesNow)
          }
        ]
      },
      newDeathsChartData: {
        labels: Object.values(stats).map(record => record.today),
        datasets: [
          {
            label: "Decese noi",
            backgroundColor: "black",
            data: Object.values(stats).map((record, index, all) => {
              return (
                parseInt(record.deathsTotal) -
                parseInt(index > 0 ? all[index - 1].deathsTotal : 0)
              );
            })
          }
        ]
      },
      deathsTotalChartData: {
        labels: Object.values(stats).map(dayRecord => dayRecord.today),
        datasets: [
          {
            label: "Decese (total)",
            backgroundColor: "#6c5bff",
            data: Object.values(stats).map(dayRecord => dayRecord.deathsTotal)
          }
        ]
      },
      circulationViolationsTodayChartData: {
        labels: Object.values(stats).map(dayRecord => dayRecord.today),
        datasets: [
          {
            label: "Persoane care nu au respectat restricţionarea circulaţiei",
            backgroundColor: "#6c5bff",
            data: Object.values(stats).map(
              dayRecord => dayRecord.circulationViolationsToday
            )
          }
        ]
      },
      styles: {
        width: "100%",
        height: "50%",
        position: "relative"
      },
      options: {
        responsive: true,
        maintainAspectRatio: false
        // aspectRatio: 5
      }
    };
  }
};
</script>

<style>
.x-chart {
  width: 80vw;
  height: 60wh;
}
</style>


