<script>
import { Line, Bar } from "vue-chartjs";

export default {
  name: "x-chart",
  extends: Bar,
  props: [
    "chartdata",
    "options"
    // "width", "height"
  ],
  // data: () => {
  //   width: 788;
  // },
  mounted() {
    this.renderChart(this.chartdata, this.options);
  }
};
</script>

<style>
</style>