<template>
  <section class="section">
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <form action="https://usebasin.com/f/6b970821b56d" method="POST">
          <input type="hidden" name="x-keep-away" />
          <div class="field">
            <label class="label">Numele tău</label>
            <div class="control">
              <input
                class="input"
                type="text"
                placeholder="numele tău"
                id="contact-form-name"
                name="contact-form-name"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Mesaj</label>
            <div class="control">
              <textarea
                class="textarea"
                placeholder="Mesajul tău aici"
                name="contact-form-message"
                id="contact-form-message"
              ></textarea>
            </div>
          </div>

          <div class="field">
            <label class="label">Email (dacă vrei să iți putem răspunde)</label>
            <div class="control">
              <input
                class="input"
                type="email"
                placeholder="email"
                name="contact-form-email"
                id="contact-form-email"
              />
            </div>
          </div>

          <div class="buttons is-centered">
            <div class="control">
              <button class="button is-link">Trimite</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "x-contact-form"
};
</script>

<style>
</style>