<script>
import { Line, Bar } from "vue-chartjs";

export default {
  name: "x-log-chart",
  extends: Bar,
  props: [
    "chartdata",
    "options"
    // "width", "height"
  ],
  // data: () => {
  //   width: 788;
  // },
  mounted() {
    this.renderChart(this.chartdata, {
      ...this.options,
      scales: {
        xAxes: {
          display: true
        },
        yAxes: {
          display: true,
          type: "logarithmic"
        }
      }
    });
  }
};
</script>

<style>
</style>