<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/logo.png" width="112" height="28" />
      </a>

      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        @click="toggleBurgerMenu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" v-bind:class="{'is-active':burgerMenuActive}">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Acasă</a>

        <a class="navbar-item" href="/testare-colectiva">Testare colectivă</a>
        <a class="navbar-item" href="/extractie-arn-scalabila">Extracție ARN scalabilă</a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Mai multe</a>

          <div class="navbar-dropdown">
            <a class="navbar-item" href="/despre-noi">Despre noi</a>
            <a class="navbar-item" href="/contact">Contact</a>
            <hr class="navbar-divider" />
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: "x-navbar",
  data: () => ({
    burgerMenuActive: false
  }),
  methods: {
    toggleBurgerMenu() {
      this.burgerMenuActive = !this.burgerMenuActive;
    }
  }
};
</script>

<style>
</style>