<template>
  <div id="app">
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<static-query>
query {
  metadata {
    siteName
    siteDescription
  }
}
</static-query>

<script>
export default {
  metaInfo() {
    return {
      title: this.$static.metadata.siteName,
      meta: [
        {
          key: "description",
          name: "description",
          content: this.$static.metadata.siteDescription
        }
      ]
    };
  }
};
</script>



<style lang="scss" >
$primary: #20c98b;

@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #20c98b;
$primary-invert: findColorInvert($primary);

// $light: #26e7a0;
$light: #8bfec7;
$light-inverted: findColorInvert($light);

$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

$success: #68c298;
$success-invert: findColorInvert($twitter);

$warning: #f59e1f;
$warning: #fd9769;
$warning-invert: findColorInvert($warning);

$info: #50bafc;
$info-invert: findColorInvert($info);

$danger: #ff6e72;
$danger-invert: findColorInvert($danger);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "light": (
    $light,
    $light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "info": (
    $info,
    $info-invert
  ),
  "success": (
    $success,
    $success-invert
  ),
  "warning": (
    $warning,
    $warning-invert
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "twitter": (
    $twitter,
    $twitter-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

@import "node_modules/bulma/bulma";

@import "~buefy/src/scss/buefy";
</style>